.title h1 {
  color: crimson;
  font-size: 300%;
  font-family: sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  background-color: lightgrey;
}

.vert_navigation_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 845px;
  background-color: pink;
  border-left: 1px solid #555;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  border-color: white;
}

nav.vert_navigation_bar ul{
  margin: 0px;
  height: 100%;
  padding: 0px;
  style:"list-style-type:none"

}

nav.vert_navigation_bar li {
  style:"list-style-type:none";
  border-top: 5px solid #555;
  border-color: white;
  background-color: inherit;

}

nav.vert_navigation_bar li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-style: bold;
    font-size: 150%;
}

nav.vert_navigation_bar li a.active {
    background-color: white;
    color: black;
    border-color: white;
}

nav.vert_navigation_bar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.vert_navigation_bar,
.main-content,
.feedback {
float: left;
margin: 0px 0px 0px 0px;
}

.main-content {
  padding: 0px 10px 10px 20px;
  max-width: 60%;
  height: 835px;
  font-family: Verdana;
  background-color: white;
  margin: 0px 10px 10px 0px;
  overflow: auto;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

nav.hori_navigation_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

nav.hori_navigation_bar ul li{
  float: right;
}

nav.hori_navigation_bar ul li a{
  display: block;
  color: white;
  margin-left: 10px;
  font-family: sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  text-align: left;
}
.hori_navigation_bar ul li.main_menu{
   float:left
}

.hori_navigation_bar ul li.main_menu a{
   font-family: sans-serif;
   font-size: 300%;
   font-weight: bolder;
   text-align: center;
   margin-left: 0px;
}





.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: sans-serif;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 3px solid black;
}

.show {
    display: block;
}
